<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>

            </ul>
        </div>
    </nav>

    <h1>your text is</h1><br>


    <div>
        <pre>
        <textarea name="" id="myOutput" cols="30" rows="10">{{finaltext}}</textarea>
        </pre>



        <button onclick="myFunction()">Copy text</button>

        <script>
            function myFunction() {
                // Get the text field
                var copyText = document.getElementById("myOutput");

                // Select the text field
                copyText.select();
                copyText.setSelectionRange(0, 99999); // For mobile devices

                // Copy the text inside the text field
                navigator.clipboard.writeText(copyText.value);

                // Alert the copied text
                alert("Copied the text: " + copyText.value);
            }
        </script>
    </div>
    <br>

    <!-- <a href="/"> 
        <button id="editthis">Edit this text</button>
    </a> -->

    <!-- <button id="editthis" action ="reedit">edit this</button> -->

    <!-- <button type = "submit" onclick="reedi">edit this</button> -->

    <form action="reedit">
        <button type="submit" value="edit this" name="editthis">edit this</button>
        <button type="submit" value="edit original" name="editoriginal">edit original</button>
        <button type="submit" value="edit new" name="editnew">edit new</button>
        


    </form>

<br>

    <div>
        <pre>
        <textarea name="" id="" cols="30" rows="10">{{tc}}</textarea>
        </pre>
    </div>


    <script src="/static/index2.js"></script>


</body>

</html>